## Домашнее задание «Библиотека Pandas»
# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
# загружаем датасет из файла

ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# оставляем только строки с оценкой 5

max_ratings = ratings[ratings['rating'] == 5]
max_ratings.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [4]:
# считаем для каждого фильма количество строк, оставляем первую (максимум) 

max_ratings['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
# загружаем

power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
# создаем отфильтрованный датасет со странами Прибалтики

power_Baltic = power[(power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia') ]

In [7]:
power_Baltic['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [8]:
# фильтруем датасет по категориям (4, 12, 21) и годам (2005 - 2010), убираем отрицательные значения quantity

power_Baltic = power_Baltic[((power_Baltic['category'] == 4) | (power_Baltic['category'] == 12) | (power_Baltic['category'] == 21)) & (power_Baltic['year'] > 2004) & (power_Baltic['year'] < 2011) & (power_Baltic['quantity'] > 0) ]
power_Baltic.head (5)

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

In [9]:
# суммируем quantity по категориям

power_Baltic['quantity'].sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [10]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'quote_list'}, encoding='utf-8')

In [11]:
df[0]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,894697,-,896847,"-0,24 %",-02150,00:01:00
1,NaN,EUR/RUB,806710,-,812020,"-0,65 %",-05310,00:00:00
2,NaN,USD/RUB,714055,-,717944,"-0,54 %",-03889,00:00:00
3,NaN,JPY/RUB,06633,-,06686,"-0,79 %",-00053,00:01:00
4,NaN,CNY/RUB,101681,-,102288,"-0,59 %",-00607,00:00:00
5,NaN,CHF/RUB,756781,-,762060,"-0,69 %",-05280,00:01:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11276,-,11312,"-0,32 %",-00036,00:00:00
8,NaN,EUR/GBP,08984,-,09058,"-0,81 %",-00074,00:00:00
9,NaN,EUR/JPY,1212100,-,1214350,"-0,19 %",-02250,00:00:00
10,NaN,EUR/CHF,10625,-,10658,"-0,31 %",-00033,00:00:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08869,-,08840,"0,33 %",00029,00:01:00
13,NaN,USD/GBP,07972,-,08005,"-0,41 %",-00033,00:01:00
14,NaN,USD/JPY,1075250,-,1073570,"0,16 %",01680,00:00:00
15,NaN,USD/CHF,09424,-,09422,"0,02 %",00002,00:00:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08200,-,08200,"0,20 %",00000,00:00:00
18,NaN,JPY/GBP,00074,-,00075,"-0,55 %",00000,00:01:00
19,NaN,JPY/USD,00093,-,00093,"-0,13 %",00000,00:01:00
20,NaN,JPY/CHF (100:1),08800,-,08800,"-0,19 %",00000,00:00:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,12531,-,12490,"0,32 %",00041,00:00:00
23,NaN,GBP/JPY,1348901,-,1341416,"0,56 %",07485,00:01:00
24,NaN,GBP/EUR,11125,-,11043,"0,74 %",00082,00:00:00
25,NaN,GBP/CHF,11829,-,11768,"0,52 %",00061,00:00:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,11829,-,11768,"0,52 %",00061,00:00:00
28,NaN,EUR/CHF,10625,-,10658,"-0,31 %",-00033,00:00:00
29,NaN,JPY/CHF (100:1),08800,-,08800,"-0,19 %",00000,00:00:00
30,NaN,USD/CHF,09424,-,09422,"0,02 %",00002,00:00:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,303762,-,304872,"-0,36 %",-01110,00:01:00
33,NaN,USD/UAH,269400,-,269500,"-0,04 %",-00100,07.07.2020
34,NaN,CHF/UAH,285866,-,286063,"-0,07 %",-00197,00:01:00
35,NaN,GBP/UAH,337962,-,336659,"0,39 %",01303,00:01:00